// Grid system
.main {
  @include make-col-ready();
  @include media-breakpoint-up(sm) {
    @include make-col($main-sm-columns);
    .sidebar-primary & {
      @include make-col($main-sm-columns - $sidebar-sm-columns);
    }
  }
}
.sidebar {
  @include make-col-ready();
  @include media-breakpoint-up(sm) {
    @include make-col($sidebar-sm-columns);
  }
}

.grid-sizer,
.grid-item { width: 50%; }

.grid-item {
  float: left;
  padding: 1%;
  @include media-breakpoint-down(sm) {
    width: 100% !important;
}
}

.grid-item img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}